.intro {
  max-width: 990px;
  margin: 92px auto;
  display: flex;
  flex-direction: column;
}

.intro__title {
  font-size: 3.375rem;
  font-weight: 900;
  margin: 0;
  padding-bottom: 4.8%;
  max-width: 820px;
}

.intro__text-one {
  font-size: 1.5rem;
  padding-bottom: 4.8%;
  line-height: 1.7;
  margin: 0;
  max-width: 733px;
}

.intro__text-one-name {
  font-size: 1.5rem;
  padding-bottom: 4.8%;
  margin: 0;
  max-width: 683px;
  display: flex;
  justify-content: flex-end;
}

.intro__text-two {
  max-width: 723px;
  line-height: 1.63;
  padding-bottom: 10%;
  margin: 0;
}
