.photo-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo__grid-container {
  max-width: 1190px;
  padding: 26px 2% 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px 16px;
}

.photo__grid-image {
  max-width: 284px;
  width: 100%;
}
