.places {
  max-width: 990px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 7.18%;
}

.places__container {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px 1fr;
  grid-template-areas:
    "title author"
    "image text"
    "button text";
  gap: 48px 40px;
  padding-bottom: 9%;
}

.places__tittle {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.75rem;
  margin: 0;
  max-width: 500px;
  grid-column: 1 / 4;
  grid-row: 1;
  grid-area: title;
}

.places__image {
  max-width: 460px;
  max-height: 460px;
}

.places__image-item {
  width: 100%;
  height: max-content;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s, transform 0.3s;
}

.places__image-item:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.5);
  filter: brightness(0.5);
}

.places__button {
  font-size: 1.125rem;
  padding: 15px;
  font-weight: 600;
  border: none;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  text-decoration: none;
  color: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  grid-column: 1 /3;
  grid-row: 5;
  text-align: center;
  transition: box-shadow 0.3s ease, color 0.5s ease;
  grid-area: button;
  height: fit-content;
  width: 70%;
}

.places__button:hover {
  transform: scale(1.05);
  box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

.places__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  grid-column: span 3;
  grid-area: author;
}

.places__link-title {
  color: rgba(170, 170, 170, 1);
  font-size: 0.75rem;
}

.places__link-artist {
  color: #fff;
  font-size: 1.125rem;
  margin: 0;
}

.places__link-artist:first-of-type {
  margin-top: 8px;
}

.places__text-container {
  max-width: 484px;
  line-height: 1.6;
  grid-column: span 3;
  grid-row: span 3;
  margin: 0;
  grid-area: text;
}
